[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = git@github.com:glfw/glfw
[submodule "Vendor/entt"]
	path = Vendor/entt
	url = git@github.com:skypjack/entt
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = git@github.com:light7734/imgui
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = git@github.com:g-truc/glm
